@import "tailwindcss";

:root {
    --background: #eff2f5;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.main-container {
    position: fixed;
    top: 60px;
    margin: 5px;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 3px;
}

.navbar-container {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000;
    justify-content: space-between;
    .home-icon {
        cursor: pointer;
    }
    .cart-icon {
        position: relative;
        cursor: pointer;
        .cart-count {
            position: absolute;
            position: absolute;
            top: -8px;
            right: -4px;
            font-size: 13px;
            color: #fff;
            font-weight: 600;
            border-radius: 20px;
            padding: 0px 5px;
            background: orange;
        }
    }
}
